/* the background image for the body */
body {
    background-image : url("ignasi_pattern_s.png");

}

/* trying to get the text to align left in the nav bar  */
.right {
    text-align: right;
}

/* create footer with border bg-color and main bg-color  */
footer {
    height: 50px;
    text-align: center;
    background-color: rgb(102,102,102);
    color: rgb(105,110,115);
    border:black 5px;
}



#name {
    background-color: rgb(74, 169, 164) ;
    color: white; 
    font-family: 'Times New Roman', Times, serif; 
}

/* h1 text color  */
h1{
    color:rgb(74, 169, 164);

}

img {
    float: left;
    margin-left: 10px;
}

#wrap {
    text-align: justify;
}


/* create space between navbar and main container  */
/* .mt-5 {
    margin-top: ( $spacer * 3) !important;

} */

/* 
try for wrapped text 

#floated{
    float: left;
    width: 150px;
    background: red;
}
 */
